
/*
תמונת התחברות
*/

.divDataEntryWrapper {
  
    padding-top: 10px;
}


.brandHeaderImage img, .divManagerResponse img, .divSubStreamsStateMessage img, .startMessage .brandHeaderImage img {
    
    border-radius: 50%;
}



#divMessages {
    overflow-x: hidden !important;
    
}


.singleInputButton {
  
    top: 0.9em !important;
        right: 1em !important;
    left: auto !important;
}



.divUserResponse {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px !important;
    margin-top: 7px !important;
    border-radius: 5px !important;

   
}


br {display:none !important;}

.brandHeaderImage br {display:block !important;}

.divInputClose.mainThemeColorBG {
    background-color: red;
}

#divArrowScrollBottom .icon-circle-down {
   
    display: none;
}

#divPoweredBy {
    height: 1.2em !important;
    z-index: 5000000;
    left:0;
}

.divSendMessage .BY_validation_text {
    background-color: #ee1336 ;
    font-size: 14px;
    width: auto;
    margin: 0;
    border-radius: 0px;
    color: white;
    width:100%;
    padding: 2px 0;
}

.divSendMessageButton.singleInputButton span.mainThemeColor.icon-circle-left {
    color: #3a4249;
}

#text--__--case4--__--streamId--__--0_wrapper > label.formLabel.BY_label.divAppFormInputField {display:none;}


.icon-wheel {display:none;}



#divApp {
    background-color: #e9eef4;
 
  height: calc((100% - 73px) - 1em) !important;
    margin-bottom: 0px;
}



.createdTimeDays h3 {
   
    color: #fff !important;
}




#loginWrapper {
    padding: 1em 1em 1.4em 1em;
    background-color: #ffffff;
    
}


#divHeader > div > section > div.row {
    padding-top: 0 !important;
}
 


#divHeader > div > section {
    box-shadow:none !important;
    padding:0;
    border: none;
    background-color: transparent;
}


#divHeader > div {
    
    padding-top: 0 !important;
    padding-bottom:0px;
    
}

.BY_input.BY_input_block {
    border-bottom: 1px solid #3a4249  !important;
     color: #333333;
    text-align: center;

}


.BY_input, .BY_input_style {
   
}


input.BY_input:focus, textarea.BY_input:focus .BY_input_style:focus {
   
    border-bottom: 1px solid #3a74f6 !important;
}


.BY_label_focus {
  color:#3792f7 ;
  font-size:13px;
}

.BY_login_formInput {
    
    padding: 1em 0 0 0;
}


.BY_label {
    font-weight: normal;
    color: #393939  ;
    
}

.BY_validation_text {
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    background-color: #ec2137;
    border-radius: 5px;
    font-size: 0.9em; ;
    
}


   

.by_button, .divLoginBtn input[type=submit], .divLoginBtn button {


    
    border-radius: 8px;
    font-size: 15px;
    font-weight: normal;
    transition: background-color 0.3s ease 0s;
    max-width: 272px !important;
    width: 100%;
    box-shadow: 0 13px 16px 0 rgba(0,0,0,.03);
    display: block;
    margin: 0 auto;
    height: 43px;
    margin-top: 32px;
color: #ffffff !important;
    background-color: #3a4249 !important;

    
}

.by_button:focus, .by_button:hover, .by_button:active {
    color: #ffffff !important;
     background-color: #ee1336  !important;

}

#divHeader {
      background-color: #3a4249;
}


#divHeader > div {
   
    height: auto !important;
    padding-top: 10px;
}

#topPanel {
   box-shadow:none;
   background-color: #3a4249;
}

.he_fix {
  
}


}

#divHeader > div > section {
     background-color: transparent;
      box-shadow: none;
      width: 100%;

    
}



.divManagerResponse {
    
    padding: 0.1em 0.5em 0 0.5em;
    border-radius: 5px;
    padding: 0.1em 0.5em 0 0.5em;
    background-color: #ffffff;
    color: rgb(66, 77, 87);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px !important;
    width:100%;

}

    section.mainThemeColorBG.divUserResponse.pull-right small {
    color: white;
}

.h4CreatedTime {color:#89919a  }


  .childOption {
    
    color: rgb(83, 90, 96) !important;

    }

.childOption:hover {
    color: #ffffff !important;
background: linear-gradient(90deg, rgb(30, 63, 158) 98%, rgb(30, 63, 158) 98%, rgb(30, 63, 158) 100%);
}

section.mainThemeColorBG.divUserResponse.pull-right .createdTime>h4 {
    color: white;
}


@media (max-width: 600px) {
    
    .childOption {
    
    margin-top: 4px !important;
    color: rgb(83, 90, 96) !important;
    border-radius: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px !important;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 98%, #3a4249 95%, #3a4249 100%);   
    padding: 0.7em 1em;
    }

.childOption:hover {
    color: #ffffff !important;
background: linear-gradient(90deg, rgb(30, 63, 158) 98%, rgb(30, 63, 158) 98%, rgb(30, 63, 158) 100%);

}

    
    
    
.childOption.mainThemeColor.mainThemeColorBorder {
   
    border-bottom-width: 1px !important;
}

.childOption.mainThemeColor.mainThemeColorBorder:first-child {
    margin: -7px 15px 0 15px !important;
}



.childOption.mainThemeColor.mainThemeColorBorder {
    text-align: left;
    float: left;
     max-width:100% !important;
     border: 1px solid white !important;
}
    
    


}



small {
    font-size: 14px !important;
    color:rgb(83, 90, 96);
}

._2lqh {
    width: 100%;
    display: none;
}

iframe {border:none;}

.divManagerResponse h4.h4UserName {
    color: #f7931e  !important;
    
}

#loginDiv{
padding: 20px 25px 0 25px;
    background-color: #ffffff66;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    
}

input.BY_input, textarea.BY_input, .BY_input_style {
    border-bottom: 1px solid #5c5c5c6b !important;
}

#divHeader > div > section > div.row > div > small > div > p > img {
    position: fixed;
    top: 21px;
    width: 100%;
    right: 0;
}


#divHeader > div {
    margin: 0;
    height: 137px;
    padding-bottom: 10px;
}

.divResponse a {
    color: initial;
}


#content:last-child .divOptionsWrapper {
    padding: 12px 0;
}

.divManagerResponseWrapper {
    
    margin-top: 5px;
   
}



.mainThemeColorBorder {
  
    border: 1px solid #ffffff !important;
}



#divFooter {
  
    box-shadow: 0 0 10px 1px rgba(0,0,0,.2)!important;
}

#captcha > img {
    display: block;
    margin: auto;
}

#captcha {
    text-align: center;
}


.refresh-captcha {
   
    color: #3a4249;
  
    padding-top: 10px;
}


.overlayConfirmClose {
    background-color: #1184ea !important;
    border-radius: 20px !important;
}
