/*special font*/
@font-face {
  font-family: 'AlwaysInMyHeart_fix';
  src: url('/webfonts/AlwaysInMyHeart_fix.eot');
  src: url('/webfonts/AlwaysInMyHeart_fix.svg') format('svg'),
       url('/webfonts/AlwaysInMyHeart_fix.woff') format('woff'),
       url('/webfonts/AlwaysInMyHeart_fix.ttf')  format('truetype');
}

@font-face {
  font-family: 'AutumnChant_fix';
  src: url('/webfonts/AutumnChant_fix.eot');
  src: url('/webfonts/AutumnChant_fix.svg') format('svg'),
       url('/webfonts/AutumnChant_fix.woff') format('woff'),
       url('/webfonts/AutumnChant_fix.ttf')  format('truetype');
}

@font-face {
  font-family: 'ScriptBoldMT_fix';
  src: url('/webfonts/ScriptBoldMT_fix.eot');
  src: url('/webfonts/ScriptBoldMT_fix.svg') format('svg'),
       url('/webfonts/ScriptBoldMT_fix.woff') format('woff'),
       url('/webfonts/ScriptBoldMT_fix.ttf')  format('truetype');
}

@font-face {
  font-family: 'TGCarrieFix3';
  src: url('/webfonts/TGCarrieFix3.eot');
  src: url('/webfonts/TGCarrieFix3.svg') format('svg'),
       url('/webfonts/TGCarrieFix3.woff') format('woff'),
       url('/webfonts/TGCarrieFix3.ttf')  format('truetype');
}

@font-face {
  font-family: 'OldEnglishTextMT';
  src: url('/webfonts/OldEnglishTextMT.eot');
  src: url('/webfonts/OldEnglishTextMT.svg') format('svg'),
       url('/webfonts/OldEnglishTextMT.woff') format('woff'),
       url('/webfonts/OldEnglishTextMT.ttf')  format('truetype');
}

/* sigmiture */
.sigmiture {
  font-family: 'AutumnChant_fix';
}

/* Infinity */
.Infinity {
  font-family: 'ScriptBoldMT_fix';
}

/* Chloe */
.Chloe {
  font-family: 'AlwaysInMyHeart_fix';
}

/* Carrie */
.Carrie {
  font-family: 'TGCarrieFix3';
}

/* Megan */
.Megan {
  font-family: 'OldEnglishTextMT';
}

.ProductDataEntryCellControl .input-duplicate-font {
  width: 50% !important;  
}

.duplicateFont {
    width: 50%;
    height: 40px;
    padding-top: 2px;
    text-align: center;
    font-size: 25px;
}

td.ShoppingCartItemOrderDetails b span {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-right: 9px;
}

td.ShoppingCartItemOrderDetails b {
    width: 70%;
}